<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Users Name</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h1> {{ post.title }}</h1>
            <h2> {{ post.subtitle }}</h2>
            <p> {{ post.body }}</p>
              <button type="Update" class="update-btn">Update</button>
        </div>

<!--        button's code begins's here-->

  <!-- Form fields go here -->
  <button type="submit" class="add-product-button">Add Product</button>



    </div>
</div>
</body>
<footer>
    <p> Nice to see you </p>
</footer>
</html>